.Mobile__nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: var(--black-clr);
}

.Mobile__menu {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: var(--size-lg);
}

.Mobile__links {
  text-decoration: none;
  color: var(--white-clr);
}

.Mobile__links.sun__icon {
  width: 30px;
}
